.App {
  text-align: center;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.player{
  width: 200px;
  background-color: red;
}
.side-nav{
  background-color: black;
  width: 15%;
  height: 100%;
  float: left;
  padding-left: 3%;
  overflow: hidden;
}

.homeContainer{
  width: 100%;
  padding-left: 5%;
  padding-top: 2%;
}
.homeContainer h1{
  font-weight: bold;
  color: white;
  padding-bottom: 3%;
}
.itemsContainer{
  display: inline-block;
}
.itemsContainer ul{
  overflow: hidden;
  display: inline-block;
}

.itemsContainer li{
  /*display: inline-block;*/
  width: 25%;
  padding-right: 1%;
  padding-bottom: 1%;
  display: inline-block;
}

.image-container:hover{
    opacity: 0.6;
    transition: opacity .2s;
}

.itemsContainer p{
  color: white;
  font-weight: bold;
  text-align: center;
}

.image-container{
    padding-top: 100%;
    background-color: #303030;
    background-size: cover;
    background-position: 50%;
    position: relative;
    box-shadow: 0 0 25px rgba(0,0,0,.2);
  }
.inputForm input{
  width: 20%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 22px;
  font-size: 20px;
  background-color: white;
  background-position: 10px 10px;
  padding: 12px 12px 12px 15px;
}
.artistDetail{
  float: left;
  width: 36%;
  text-align: center;
  margin-left: 0%;
}
.artistDetail img{
  width: 55%;
}

.albumName{
  font-weight: bold;
  color: white;
}

.albumArtistName{
  color: gray;
}

.albumTracks{
  color: white;

}

.artistDetail button{
  width: 30%;
  border: 2px solid green;
  border-radius: 20px;
  background-color:#2ebd59;
}
.artistDetail button:hover{
  background-color:#219042;
}
.tracksContainer{
  float: right;
  padding-right: 20%;
  width: 45%;

}
.singleAlbumContainer{
  padding-top: 5%;

}
.singleTrack{
  display: inline-block;
  margin-left: -47%;

}
.singleTrack ol{
  width: 600px;
}
.trackNumber{
  float: left;
  color: gray;

}
.tracksNames{
  text-align: left;
  padding-left: 15%;
}
.trackName {
  float: left;
  text-align: left;
  color: white;
  padding-right: 15%;
}
.trackDuration{
  float: right;
  color: gray;

}
.clear{
  clear: both;
}
.artistImage {
  width: 100%;
  height: 550px;
  background-size: cover;
  background-position: 50% 25%;
}
.artistDetails{
  padding-top: 26%;
  padding-left: 1%;
  display:list-item;
}
.followers{
  color: white;
  margin-bottom: 0rem;
}
.artistName{
color: white;
font-weight: bold;
padding-bottom: 1%;
font-size: 40px;
margin-bottom: 0rem;

}
.followButton{
  width: 8%;
  height: 40px;
  letter-spacing: 2px;
  font-weight: 500;
  transition: background-color .2s;
  border-radius: 30px;
  background-color:#2ebd59;
  margin-right: 1%;
  color: white;
}
.followButton:hover{
  background-color:#219042;
}
.PlayAllButton{
  width: 8%;
  height: 40px;
  letter-spacing: 2px;
  font-weight: 500;
  border: 1px solid #fff;
  transition: background-color .2s;
  border-radius: 30px;
  background-color: rgba(0,0,0,.2);
  color: white;
}
.PlayAllButton:hover{
  background-color:black;
}

.artistTrackList{
  padding-right: 50%;
  width: 45%;

}

.artistTrackList .trackDuration{
  padding-left: 5%;
}
.pageTitle{
  color: white;
  font-weight: bold;
  padding-left: 2%;
  padding-bottom: 1%;
}

.artistTracks{
  height: 500px;
  padding-bottom: 35%;
  background-color: rgba(0,0,0,.5);

}
.artistAlbums{
  background-color: rgba(0,0,0,.7);
  padding-top: 3%;
}
.artistTrackList .singleTrack ol{
  width: 800px;
}
